<html>

<head>
<title>Title</title>
</head>

<body>

<p><b>Info</b> 
I looked on the training file, I saw that the file contained a lot of - NA's, I cleaned all the NA's.
after that I removed all the virables with alot of zeros. (I know I cleaned the zero's in a very wrong way, I will love to see a proper way to do this)
I make sure that virables with not a lot of different between them will be factors. 
I tryed at first usind tree but it didnt got good results so I use Random Forest.. 100 % success!
</p>


</body>
</html>
